.form{
    color: $color-third;
    &-style{
        background-color: $color-second;
        border: 1px solid #EFEFEF;
        @include border-radius(6px);
    }
    &-title{
        font-size: 25px;
        color: $color-third;
    }
    &-label{
        font-size: $font-size-primary;
        font-family: $font-second;
        color: $color-fourth;
        &-required{
            &::after{
                content: '\f005';
                font-family: FontAwesome;
                color: $red;
                font-size: 8px;
                position: relative;
                top: -2px;
                padding-left: 2px;
            }
        }
    }
    &-input{
        color: $color-third;
        background-color: #fff;
        border: 1px solid #E0E0E0;
        width: 100%;
        height: 36px;
        @include border-radius(4px);
        padding: 10px 12px;
        display: inline-block;
        &.big {
            height: 48px;
            padding: 23px 12px;
        }
        &::placeholder{
            color: #C7C7CC;
        }
    }
    &-error-message{
        font-size: $font-size-normal;
    }
    &-select{
        .form-input{
            cursor: pointer;
            padding-right: 30px;
        }
        .dropdown-toggle{
            border: none;
            padding: 0;
        }

        &-date{
            width: 100%;
        }
        &-rounded{
            .form-input{
                border-radius: 40px;
            }
        }
    }
}

.form-group-password{
    position: relative;
    .form-input {
        padding-right: 40px;
    }
    .form-group-toggle{
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        &::before{
            content: '\f070';
            font-family: FontAwesome;
        }
    }
    &.show{
        .form-group-toggle{
            &::before{
                content: '\f06e';
            }
        }
    }
}

.filter-keyword{
    position: relative;
    background-color: #F6F6F6;
    padding: 0 35px 0 16px;
    @include border-radius(18px);
    height: 36px;
    border: 1px solid #F6F6F6;
    .form-input{
        border: none;
        padding: 0;
        background-color: transparent;
        height: 34px;
    }
    .fa-search{
        color: #C7C7CC;
        position: absolute;
        right: 16px;
        top: 10px;
    }
    &-white{
        background-color: $color-second;
        border-color:#E0E0E0;
    }
}

.form-switch{
    display: block;
    &-input{
        display: none;
        &:checked + .form-switch-custom{
            background-color: $color-primary;
        }
        &:checked + .form-switch-custom::before{
            left: 29px;
        }
    }
    &-custom{
        height: 28px;
        width: 55px;
        border-radius: 14px;
        background-color: #E0E0E0;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        transition: all 0.15s linear;
        cursor: pointer;
        &::before{
            content: '';
            position: absolute;
            background-color: #FFFFFF;
            border-radius: 100%;
            width: 22px;
            height: 22px;
            top: 3px;
            left: 3px;
            transition: all 0.15s linear;
        }
    }
    &-label{
        color: $color-fourth;
        padding-left: 10px;
    }
}


.big {
    .form-input {
        padding: 15px 12px;
        height: 48px;
    }
}