
.main-blank{
    background-color: $color-sixth;
    font-family: $font-primary, sans-serif;
    height: 100vh;
    &::before{
        content: '';
        position: absolute;
        background-image: url(/images/pexels-photo-1921336.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;
        height: 100%;
        max-width: calc(100% - 573px);
        width: 100%;
    }
    &-content{
        height: 100%;
    }
}
